{% extends 'base.html' %}


{% block title_head %}
<title>Super Heroe</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Super Heroes: {{superheroe}}</h1>
{% endblock h1_header %}

{% block contenido %}
<ul>
    <li>Nombre: {{superheroe.nombre}} </li>
    <li>Super Poder: {{superheroe.superpoder}}</li>
    <li>Motivo: {{superheroe.motivo}}</li>
    <li>Autor: {{superheroe.autor}}</li>
</ul>
<a href= {% url 'inicio:modificar_superheroe' superheroe.id %}>Modificar</a> -    
    <a href= {% url 'inicio:eliminar_superheroe' superheroe.id %}>Eliminar</a>




{% endblock contenido %}
